body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(https://lh6.googleusercontent.com/proxy/vuxyus0fYbILQcp7YGZetOZECaBMPJBE9IY4OEBmw1y47E5ULJpRjCYl9P53o-1G2OrxQg8ftdrJIEWrY69X6tdlFEOo_BbPW-TOZYtL9FAzwgz6uxDje-PWwdfMNgBrU3aA1C26zRKlI4o);
    background-size: 210vh;
    
}

#calculator{
    background-color: black;
    color: white;
    max-width: 500px;
    border-radius: 20px;
}
#display{
    width: 95%;
    padding: 20px 10px;
    border-radius: 20px;
    color: black;
    font-size: 3rem;
    text-align: right;
    border: none;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    align-items: center;
}
button{
    background-color: orange;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 3rem;
    grid-template-columns: auto;
    width:100px;
    height: 100px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(217, 71, 71);
}

button:active{
    background-color: rgb(0, 0, 0);
}